node_modules
dist
build
coverage
.turbo
.idea
.vscode
*.log
**/*.lock
**/generated/**
**/migrations/**
**/*.d.ts
package-lock.json
yarn.lock
pnpm-lock.yaml
schema.sql# Ignore package.json to preserve custom formatting
package.json
.env
